[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "==2.5.0"
xgboost = "*"
optuna = "*"
prefect-aws = "*"
prefect = "*"
flask = "==2.3.2"
gunicorn = "*"
evidently = "*"
psycopg-binary = "*"
pyarrow = "*"
streamlit = "*"
psycopg2 = "*"
sqlalchemy = "*"
prefect-email = "*"

[dev-packages]
pytest = "*"
pylint = "*"
black = "*"
isort = "*"
deepdiff = "*"

[requires]
python_version = "3.9"
