[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
xgboost = "*"
optuna = "*"
prefect-aws = "*"
prefect = "*"

[dev-packages]

[requires]
python_version = "3.9"
