[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xgboost = "==1.7.6"
optuna = "==3.3.0"
prefect = "==2.11.4"
flask = "==2.3.2"
gunicorn = "==21.2.0"
evidently = "==0.4.1"
mlflow = "*"
boto3 = "*"
streamlit = "*"
psycopg2 = "*"
sqlalchemy = "*"
prefect-email = "*"
pyarrow = "*"
prefect-aws = "*"

[dev-packages]
pylint = "*"
pytest = "*"
black = "*"
isort = "*"
deepdiff = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
